.audiocard {
    border-bottom: 1px solid black;
    margin: 0.6rem;
    padding: 0.5rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__title {
        font-size: 1rem;
    }

    &__player {

        &__viewer {
            background-color: white;
            border: 1px solid grey;
        }

        &__buttons {
            display: flex;
            align-items: center;

            &__text {
                width: 800px !important;
                padding: 0.2rem !important;
            }

            &__button {
                cursor: pointer;
                border: 1px solid black;
                background-color: black;
                border-radius: 0.2rem;
                padding: 0.1rem;
                margin: 0 0.2rem;
                color: white;
                height: 32px;
                min-width: 32px;
                font-size: 1rem;
                justify-content: space-between;

                &:disabled {
                    color: grey;
                }
            }

            &__status {
                color: green;
                font-weight: bold;
                padding: 0.2rem !important;
            }
        }
    }
}